.section_benefits {

    .benefit {
        @media (min-width: 300px) {
            & img {
                width: 32px;
                height: 32px;
            }
            & p {
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: $benefit_text_color;
            }
        }
        @media (min-width: 425px) {
            & img {
                width: 46px;
                height: 46px;
            }
        }
        @media (min-width: 770px) {
            & img {
                width: 60px;
                height: 60px;
            }

            & p {
                font-size: 24px;
                line-height: 30px;
                color: $benefit_text_color;
            }
        }
    }

    & .text_content {
        color: $benefit_text_content_color;
        @media (min-width: 300px) {
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        @media (min-width: 426px) {
            & img {
                width: 291px;
                margin-left: 49px;
            }
        }
        @media (min-width: 770px) {
            & img {
                width: 380px;
                margin-left: 79px;
            }
        }
        @media (min-width: 1030px) {
            & img {
                width: 480px;
                margin-left: 108px;
                margin-top: -80px;
            }
        }
    }
}

.download_file {
    @media (min-width: 300px) {
        & .docs {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        & .docs_link {
            box-shadow: 4px 4px 40px rgba(99, 131, 153, 0.15);
            height: 76px;
            background: #ffffff;
            border-radius: 2px;
            margin: 0 5px;
            width: 100%;

            &:hover {
                box-shadow: 4px 4px 40px rgba($color: $gold_color, $alpha: 1);
            }

            & img {
                width: 36px;
                height: 36px;
            }

            & span {
                font-weight: 450;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -0.03em;
                color: #4f4f4f;
            }
        }
    }
    @media (min-width: 430px) {
        margin-top: 80px;

        & h2 {
            margin-top: 0px;
        }

        & .docs {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .docs_link {
            width: 350px;
            height: 70px;

            & img {
                width: 32px;
                height: 32px;
            }
        }
    }
    @media (min-width: 770px) {
        margin-top: 120px;

        & h2 {
            margin-top: 0px;
        }

        & .docs {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        & .docs_link {
            width: 370px;
            height: 130px;

            & img {
                width: 32px;
                height: 32px;
            }
        }
    }
}
