.section-galery {
    .btn_show {
        background: $gold_color;
        border-radius: 2px;
        width: 377px;
        width: 100%;
        height: 56px;
        font-weight: bold;
        font-size: 18px;
        @media (min-width: 760px) {
            width: 247px;
        }
        @media (min-width: 1200px) {
            width: 377px;
        }
    }
}
