.links {
    & .link {
        @media (min-width: 300px) {
            color: $header_link_color;
            min-height: 470px;
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;
            background-clip: border-box;
        }
        @media (min-width: 680px) {
            min-height: 256px;
            background-position: right;
        }
        @media (min-width: 960px) {
            min-height: 380px;
            background-position: bottom;
        }
        @media (min-width: 1160px) {
            min-height: 680px;
            background-position: bottom;
        }
        & a {
            font-size: 20px;
            line-height: 40px;
            letter-spacing: -0.03em;
            color: $header_link_color;
        }
    }
}
