*,
*::after,
*::before {
    box-sizing: border-box;
    list-style-type: none;
}
// Fonts
@import "_fonts.scss";
// Variables
@import "_variables.scss";

// Header
@import "_header.scss";

// Content*****
.content {
    flex: 1;
}

// Main-page First Block-slider
@import "_slider.scss";

// Main-page Second Block-links
@import "_links.scss";

// Gallery
@import "_gallery.scss";

// Baner and form
@import "_banerForm.scss";

// Content end*****

//  Footer
@import "_footer.scss";

// Modals
@import "_modals.scss";
