*,
*::after,
*::before {
    box-sizing: border-box;
    transition: all 0.3s ease;
    list-style-type: none;
}

::-webkit-scrollbar {
    /* chrome based */
    width: 0px; /* ширина scrollbar'a */
    background: transparent; /* опционально */
}

html {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

button {
    border: none;
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
    display: none;
}
/* Убираем стандартный маркер Firefox */
details > summary {
    display: flex;
    height: auto;
}

/* Добавляем собственный маркер для закрытого состояния */
details summary:after {
    content: url("../img/header/arrowmenu.png");
    margin-left: 8px;
}

/* Добавляем собственный маркер для открытого состояния */
details[open] summary:after {
    content: url("../img/header/arrowmenu.png");
    transform: rotateX(180deg);
    margin-top: 12px;
}

body.open {
    overflow: hidden;
}

// Styles

.wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

$gold_color: #e8c8a4;
$gold_color_hover: #f9dab8;
$header_text_color: #464646;
$header_link_color: #4f4f4f;

// Header

.header {
    background: none;
    padding: 0;
    position: fixed;
    height: 80px;

    // Menu Button
    &__button {
        background: $gold_color;
        position: absolute;
        left: 0;
        top: 0;

        @media (min-width: 300px) {
            width: 64px;
            height: 64px;
        }
        @media (min-width: 1200px) {
            width: 80px;
            height: 80px;
        }

        &:hover {
            background: $gold_color_hover;
        }
    }

    // Menu decoration
    &-menu {
        height: 100vh;
        border-right: 1px solid $gold_color;
        background: url(../img/header/menuBG.png);
        position: relative;
        z-index: -1;

        @media (min-width: 960px) {
            width: 64px;
            display: block;
        }
        @media (min-width: 1200px) {
            width: 80px;
        }

        &__mouse {
            position: absolute;
            bottom: 45px;
            display: none;
            @media (min-width: 960px) {
                left: 10px;
                display: block;
            }
            @media (min-width: 1200px) {
                left: 20px;
            }
        }
    }

    // Drop menu block
    &-dropmenu {
        visibility: hidden;
        opacity: 0;
        transition: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 0;
        height: 100vh;
        background: #ffffff;
        padding: 16px 20px;
        overflow-y: scroll;

        &__list {
            color: $header_link_color;
            & summary,
            & .menulinks {
                font-weight: 450;
                font-size: 24px;
                line-height: 40px;
                color: inherit;
            }

            & .details-list {
                padding-left: 16px;
                & a {
                    color: inherit;
                    font-size: 18px;
                }
            }
        }
        &.open {
            min-width: 300px;
            visibility: visible;
            opacity: 1;
            z-index: 2;
        }
    }

    // Mask
    &-mask {
        display: none;
        &.open {
            display: block;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            background: #000000;
            opacity: 0.5;
        }
    }

    // Close drop menu button
    &-closemenu {
        visibility: hidden;
        opacity: 0;
        transition: none;
        position: absolute;
        left: 320px;
        top: 30px;
        z-index: -1;
        font-size: 50px;
        background: none;
        line-height: 0;
        color: $gold_color;

        &:hover {
            color: $header_text_color;
        }
        &.open {
            visibility: visible;
            opacity: 1;
            z-index: 2;
        }
    }

    // Navigation
    &-nav {
        width: 1170px;
        margin: 0 auto;
        height: inherit;
        color: $header_text_color;
        @media (min-width: 300px) {
            height: 64px;
        }
        @media (min-width: 1200px) {
            height: 80px;
        }

        &__logo {
            @media (min-width: 300px) {
                & img {
                    height: 44px;
                }
            }
            @media (min-width: 1200px) {
                & img {
                    height: 52px;
                }
            }
        }

        &__address {
            & > span {
                &:first-child {
                    font-size: 18px;
                    font-weight: bold;
                }
                &:last-child {
                    font-size: 16px;
                }
            }
        }

        &__phone {
            color: inherit;
            font-size: 20px;
            font-weight: bold;
        }

        &__backcall {
            border-radius: 2px;
            font-weight: bold;
            width: 220px;
            height: 48px;
            background: $gold_color;
            &:hover {
                background: $gold_color_hover;
            }
        }
    }
}

// Header end

// Content
.content {
    flex: 1;
}
// Main-page First Block-slider
.slider {
    min-height: 100vh;

    & .ol {
        bottom: 3vh;
    }

    & .pagination {
        width: 10px;
        height: 10px;
        border: none;
        border-radius: 50%;
        background: $gold_color_hover;
        @media (min-width: 960px) {
            width: 12px;
            height: 12px;
        }
        &.active {
            background: $gold_color;
        }
    }

    &-page {
        &__img {
            width: 100%;
            min-height: 100vh;
            object-fit: cover;
        }

        &__info {
            width: 100%;
            height: 100vh;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            align-items: center;
            justify-content: center;
            & .logo {
                @media (min-width: 300px) {
                    width: 131px;
                    max-height: 40px;
                }
                @media (min-width: 768px) {
                    width: 147px;
                    max-height: 46px;
                }
                @media (min-width: 960px) {
                    width: 197px;
                    max-height: 61px;
                }
            }

            & .title {
                color: #ffffff;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
                & span {
                    margin: 5px 0;
                }
                @media (min-width: 300px) {
                    font-size: 40px;
                    font-weight: 500;
                }
                @media (min-width: 960px) {
                    font-size: 70px;
                }
            }

            & .subtitle {
                white-space: nowrap;
                @media (min-width: 300px) {
                    font-size: 18px;
                    font-weight: 300;
                }
                @media (min-width: 960px) {
                    font-size: 28px;
                }
            }

            & .modal-btn {
                background: $gold_color;
                border-radius: 2px;
                font-weight: bold;
                font-size: 18px;

                @media (min-width: 300px) {
                    width: 315px;
                    height: 56px;
                }
                @media (min-width: 960px) {
                    width: 285px;
                    height: 50px;
                }
                &:hover {
                    background: $gold_color_hover;
                }
            }
        }
    }
}
// Main-page Second Block-links
.section {
    // Block links
    &-links {
        & .link {
            @media (min-width: 300px) {
                width: 100%;
                height: 470px;
                color: $header_link_color;
                & h3 {
                    font-weight: bold;
                    font-size: 24px;
                }
                & li {
                    font-size: 20px;
                    margin: 5px 0px;
                    & a {
                        color: inherit;
                    }
                    & span {
                        display: block;
                        max-width: 250px;
                    }
                }

                &:nth-child(1) {
                    background: linear-gradient(180deg, #edeeeb 55%, transparent 60%), url(../img/main/mainLink1.png);
                    background-position: bottom right;
                    background-repeat: no-repeat;
                    background-size: 100%, 100%;
                }
                &:nth-child(2) {
                    background: linear-gradient(180deg, #d6e0ea 50%, transparent 60%), url(../img/main/mainLink2.png);
                    background-position: bottom right;
                    background-repeat: no-repeat;
                    background-size: 230%;
                }
                &:nth-child(3) {
                    background: linear-gradient(180deg, #f5f5f5 30%, transparent 60%), url(../img/main/mainLink3.png);
                    background-position: 0 100%;
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
                &:nth-child(4) {
                    background: linear-gradient(180deg, #f9faf8 -10%, transparent 60%), url(../img/main/mainLink4.png);
                    background-position: bottom;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            @media (min-width: 768px) {
                width: 100%;
                height: 256px;
                color: $header_link_color;
                & ul {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 200px;
                    width: 70%;
                    margin-top: 15px;
                }
                & h3 {
                    font-weight: bold;
                    font-size: 24px;
                    margin-top: 15px;
                }
                & li {
                    font-size: 18px;
                    margin: 12px 50px 12px 0;
                }

                &:nth-child(1) {
                    background: linear-gradient(90deg, #edeeeb 50%, transparent 70%), url(../img/main/mainLink1.png);
                    background-position: 100%, right;
                    background-repeat: no-repeat;
                    background-size: 100%, 50%;
                }
                &:nth-child(2) {
                    background: linear-gradient(90deg, #f5f5f5 0%, transparent 100%), url(../img/main/mainLink2.png);
                    background-position: 100%, right;
                    background-repeat: no-repeat;
                    background-size: 100%, contain;
                }
                &:nth-child(3) {
                    background: linear-gradient(90deg, #f5f5f5 50%, transparent 70%), url(../img/main/mainLink3.png);
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: 100%, 50%;
                }
                &:nth-child(4) {
                    background: linear-gradient(90deg, #f5f5f5 60%, transparent 70%), url(../img/main/mainLink4.png);
                    background-position: 100%, right 90%;
                    background-repeat: no-repeat;
                    background-size: 100%, 40%;
                }
            }
            @media (min-width: 960px) {
                width: 100%;
                height: 580px;
                color: $header_link_color;
                & ul {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: auto;
                    width: 100%;
                }
                & h3 {
                    font-size: 20px;
                    width: 100%;
                    margin: 0;
                }
                & li {
                    font-size: 18px;
                    margin: 5px;
                }
                &:nth-child(1) {
                    background: linear-gradient(180deg, #edeeeb 60%, transparent 70%), url(../img/main/mainLink1.png);
                    background-position: 100%, bottom;
                    background-repeat: no-repeat;
                    background-size: 100%, 150%;
                }
                &:nth-child(2) {
                    background: linear-gradient(180deg, #f5f5f5 60%, transparent 80%), url(../img/main/mainLink2.png);
                    background-position: bottom right;
                    background-repeat: no-repeat;
                    background-size: 300%;
                }
                &:nth-child(3) {
                    background: linear-gradient(180deg, #f5f5f5 40%, transparent 60%), url(../img/main/mainLink3.png);
                    background-position: bottom right;
                    background-repeat: no-repeat;
                    background-size: 150%;
                }
                &:nth-child(4) {
                    background: url(../img/main/mainLink4.png);
                    background-position: bottom;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            @media (min-width: 1440px) {
                height: 680px;
                color: $header_link_color;
                & h3 {
                    font-size: 34px;
                }
                & li {
                    font-size: 20px;
                    margin: 0px;
                }
                &:nth-child(1) {
                    background: linear-gradient(180deg, #edeeeb 60%, transparent 70%), url(../img/main/mainLink1.png);
                    background-position: 100%, bottom;
                    background-repeat: no-repeat;
                    background-size: 100%, 120%;
                }
                &:nth-child(2) {
                    background: linear-gradient(180deg, #d6e0ea 60%, transparent 65%), url(../img/main/mainLink2.png);
                    background-position: bottom right;
                    background-repeat: no-repeat;
                    background-size: 100%, 280%;
                }
                &:nth-child(3) {
                    background: linear-gradient(180deg, #f5f5f5 40%, transparent 60%), url(../img/main/mainLink3.png);
                    background-position: bottom right;
                    background-repeat: no-repeat;
                    background-size: 130%;
                }
                &:nth-child(4) {
                    background: url(../img/main/mainLink4.png);
                    background-position: bottom;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
    // Block Galery
    &-galery {
        & button img {
            object-fit: cover;
            object-position: cover;
        }
    }
}
// Content end

//  Footer
.footer {
    height: 50px;
    background: #000;
    text-align: center;
    color: #fff;
}
//  Footer end

// Modal Back call
.modal {
    &-form {
        & input {
            background: none;
            border: 2px solid #dedede;
            border-radius: 4px;
            font-size: 18px;
            line-height: 23px;
            color: #a5a5a5;
        }

        & button {
            color: #363636;
            font-size: 18px;
            font-weight: bold;
            background: $gold_color;
            border-radius: 4px;

            &:hover {
                background: $gold_color_hover;
            }
        }

        & input,
        & button,
        & select,
        & .meter {
            width: 426px;
            height: 56px;
            padding: 0 24px;
        }

        & label input {
            width: 24px;
            height: 24px;
        }

        .meter {
            border: 2px solid #dedede;

            & input {
                height: 100%;
                width: 50%;
                border: none;
                border-left: 2px solid #dedede;
            }
        }

        & select {
            font-weight: bold;
            border: 2px solid #dedede;
        }
    }
}

#pricemodal .modal-dialog {
    @media (min-width: 1024px) {
        max-width: 990px;
        margin-top: 15%;
    }
}
// Modal Back call end
