*,
*::after,
*::before {
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Futura PT";
}

// Fonts
@import "../scss/_fonts.scss";
// Variables
@import "../scss/_variables.scss";

// Header
@import "../scss/_header.scss";

//***** Content *****
.content {
    flex: 1;
}

// Main-page First Block-slider
@import "../scss/_block_slider.scss";

// Main-page Second Block-links
@import "../scss/_links.scss";

// Gallery
@import "../scss/_gallery.scss";

// Baner and form
@import "../scss/_banerForm.scss";

// Benefits
@import "../scss/_benefits.scss";

// Reviews
@import "../scss/_reviews.scss";

// Order a call
@import "../scss/_backcallBlock.scss";

// Price List
@import "../scss/_priceList.scss";

// Design Baner
@import "../scss/_designBaner.scss";

// Baner Advertisement
@import "../scss/_advertisement.scss";

// Block Product
@import "../scss/_productBlock.scss";

//***** Content end *****

//  Footer
@import "../scss/_footer.scss";

// Modals
@import "../scss/_modals.scss";

// ********* Pages**********

// AboutPage
@import "../scss/_AboutPage.scss";

// ContactPage
@import "../scss/_ContactPage.scss";

// PortfolioPage
@import "../scss/_PortfolioPage.scss";

// House
@import "../scss/_HousePage.scss";

// Design Page
@import "../scss/_DesignPage.scss";


// ********* Pages**********
