@charset "UTF-8";
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/futura-pt-bold.eot");
  src: local("☺"), url("../fonts/futura-pt-bold.woff") format("woff"), url("../fonts/futura-pt-bold.ttf") format("truetype"), url("../fonts/futura-pt-bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/futura-pt-book.eot");
  src: local("☺"), url("../fonts/futura-pt-book.woff") format("woff"), url("../fonts/futura-pt-book.ttf") format("truetype"), url("../fonts/futura-pt-book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/futura-pt-demi.eot");
  src: local("☺"), url("../fonts/futura-pt-demi.woff") format("woff"), url("../fonts/futura-pt-demi.ttf") format("truetype"), url("../fonts/futura-pt-demi.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifPro-Regular.eot");
  src: local("☺"), url("../fonts/SourceSerifPro-Regular.woff") format("woff"), url("../fonts/SourceSerifPro-Regular.ttf") format("truetype"), url("../fonts/SourceSerifPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

button {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #363636;
  background: #e8c8a4;
}

button:hover {
  background: #f9dab8;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h2 {
  color: #4f4f4f;
}

@media (min-width: 300px) {
  h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.03em;
  }
}

@media (min-width: 560px) {
  h2 {
    font-weight: 450;
    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: 1020px) {
  h2 {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: 300px) {
  p {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }
}

@media (min-width: 425px) {
  p {
    font-size: 18px;
    letter-spacing: -0.03em;
  }
}

@media (min-width: 770px) {
  p {
    line-height: 36px;
    font-size: 24px;
  }
}

body.open {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Futura PT";
}

/* Scroll */
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e8c8a4;
  border-radius: 2px;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Scroll */
button {
  border: none;
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none;
}

/* Убираем стандартный маркер Firefox */
details > summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

/* Добавляем собственный маркер для закрытого состояния */
details summary:after {
  content: url("../img/header/arrowmenu.png");
  margin-left: 8px;
}

/* Добавляем собственный маркер для открытого состояния */
details[open] summary:after {
  content: url("../img/header/arrowmenu.png");
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  margin-top: 12px;
}

.header {
  background: none;
  height: 80px;
}

.header__button {
  background: #e8c8a4;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 300px) {
  .header__button {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 1200px) {
  .header__button {
    width: 80px;
    height: 80px;
  }
}

.header__button:hover {
  background: #f9dab8;
}

.header .offcanvas {
  color: #4f4f4f;
}

@media (min-width: 300px) {
  .header .offcanvas-start {
    width: 280px;
  }
}

.header .offcanvas-header {
  overflow-y: scroll;
  height: 100%;
}

.header .offcanvas .btn-close-menu {
  background: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 30px;
}

@media (min-width: 300px) {
  .header .offcanvas .btn-close-menu {
    right: -45px;
  }
}

@media (min-width: 321px) {
  .header .offcanvas .btn-close-menu {
    right: -50px;
  }
}

.header .offcanvas .btn-close-menu:hover {
  background: none;
  border-radius: 2px;
}

.header .offcanvas .btn-close-menu:hover path {
  stroke: #111;
}

.header .offcanvas .link {
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

.header .offcanvas .link:hover {
  color: #363636;
  background: #e8c8a4;
}

.header .offcanvas_phone {
  color: #464646;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  padding: 10px;
}

.header .offcanvas .accordion {
  min-width: 100%;
}

.header .offcanvas .accordion-button {
  padding: 10px;
  color: inherit;
}

.header .offcanvas .accordion-button::after {
  background: url(../img/header/arrowmenu.png) no-repeat center;
}

.header .offcanvas .accordion-button:not(.collapsed) {
  background: none;
  color: #e8c8a4;
}

.header .offcanvas .accordion-button:not(.collapsed)::after {
  background: url(../img/header/arrowmenu.png) no-repeat center;
}

.header .offcanvas .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header .offcanvas .accordion-item {
  border: none;
}

.header .offcanvas .accordion_body_list li {
  padding: 5px;
}

.header-nav {
  width: 1170px;
  margin: 0 auto;
  height: inherit;
  color: #464646;
}

@media (min-width: 300px) {
  .header-nav {
    height: 64px;
  }
}

@media (min-width: 1200px) {
  .header-nav {
    height: 80px;
  }
}

@media (min-width: 300px) {
  .header-nav__logo img {
    height: 44px;
  }
}

@media (min-width: 1200px) {
  .header-nav__logo img {
    height: 52px;
  }
}

.header-nav__address > span:first-child {
  font-size: 18px;
  font-weight: bold;
}

.header-nav__address > span:last-child {
  font-size: 16px;
}

.header-nav__phone {
  color: inherit;
  font-size: 20px;
  font-weight: bold;
}

.header-nav__backcall {
  border-radius: 2px;
  font-weight: bold;
  width: 220px;
  height: 48px;
  background: #e8c8a4;
}

.header-nav__backcall:hover {
  background: #f9dab8;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider {
  min-height: 100vh;
}

.slider .ol {
  bottom: 3vh;
}

.slider .pagination {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background: #f9dab8;
}

@media (min-width: 960px) {
  .slider .pagination {
    width: 12px;
    height: 12px;
  }
}

@media (min-width: 560px) {
  .slider .pagination {
    width: 12px;
    height: 12px;
  }
}

.slider .pagination.active {
  background: #e8c8a4;
}

.slider-page__img {
  width: 100%;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-page__info {
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 300px) {
  .slider-page__info .logo {
    width: 131px;
    max-height: 40px;
  }
}

@media (min-width: 768px) {
  .slider-page__info .logo {
    width: 147px;
    max-height: 46px;
  }
}

@media (min-width: 960px) {
  .slider-page__info .logo {
    width: 197px;
    max-height: 61px;
  }
}

.slider-page__info .title {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  font-family: "Source Serif Pro";
}

.slider-page__info .title span {
  margin: 5px 0;
}

@media (min-width: 300px) {
  .slider-page__info .title {
    font-size: 40px;
    font-weight: 500;
  }
}

@media (min-width: 960px) {
  .slider-page__info .title {
    font-size: 70px;
  }
}

.slider-page__info .subtitle {
  white-space: nowrap;
}

@media (min-width: 300px) {
  .slider-page__info .subtitle {
    font-size: 18px;
    font-weight: 300;
  }
}

@media (min-width: 960px) {
  .slider-page__info .subtitle {
    font-size: 28px;
  }
}

.slider-page__info .modal-btn {
  background: #e8c8a4;
  border-radius: 2px;
  font-weight: bold;
  font-size: 18px;
}

@media (min-width: 300px) {
  .slider-page__info .modal-btn {
    width: 315px;
    height: 56px;
  }
}

@media (min-width: 960px) {
  .slider-page__info .modal-btn {
    width: 285px;
    height: 50px;
  }
}

.slider-page__info .modal-btn:hover {
  background: #f9dab8;
}

@media (min-width: 300px) {
  .links .link {
    width: 100%;
    height: 470px;
    color: #4f4f4f;
  }
  .links .link h3 {
    font-weight: bold;
    font-size: 24px;
  }
  .links .link li {
    font-size: 20px;
    margin-top: 5px;
  }
  .links .link li a {
    display: block;
    max-width: 300px;
  }
  .links .link:nth-child(1) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f5f5f5), color-stop(70%, transparent)), url(../img/main/mainLink1.png) no-repeat bottom;
    background: linear-gradient(180deg, #f5f5f5 50%, transparent 70%), url(../img/main/mainLink1.png) no-repeat bottom;
    background-size: contain;
  }
  .links .link:nth-child(2) {
    background: -webkit-gradient(linear, left top, left bottom, from(#d6e0ea), color-stop(50%, transparent)), url(../img/main/mainLink2.png);
    background: linear-gradient(180deg, #d6e0ea 0%, transparent 50%), url(../img/main/mainLink2.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .links .link:nth-child(3) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #f5f5f5), color-stop(60%, transparent)), url(../img/main/mainLink3.png);
    background: linear-gradient(180deg, #f5f5f5 40%, transparent 60%), url(../img/main/mainLink3.png);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .links .link:nth-child(4) {
    background: url(../img/main/mainLink4.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media (min-width: 768px) {
  .links .link {
    width: 100%;
    height: 256px;
  }
  .links .link ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 140px;
    width: 70%;
  }
  .links .link li {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .links .link:nth-child(1) {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #edeeeb), color-stop(55%, transparent)), url(../img/main/mainLink1.png);
    background: linear-gradient(90deg, #edeeeb 50%, transparent 55%), url(../img/main/mainLink1.png);
    background-position: 100%, right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .links .link:nth-child(2) {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #d6e0ea), color-stop(60%, transparent)), url(../img/main/mainLink2.png);
    background: linear-gradient(90deg, #d6e0ea 50%, transparent 60%), url(../img/main/mainLink2.png);
    background-position: 100%, right;
    background-repeat: no-repeat;
    background-size: 100%, contain;
  }
  .links .link:nth-child(3) {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f1f3f4), color-stop(70%, transparent)), url(../img/main/mainLink3.png);
    background: linear-gradient(90deg, #f1f3f4 50%, transparent 70%), url(../img/main/mainLink3.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%, 50%;
  }
  .links .link:nth-child(4) {
    background: -webkit-gradient(linear, left top, right top, color-stop(60%, #e8e9eb), color-stop(70%, transparent)), url(../img/main/mainLink4.png);
    background: linear-gradient(90deg, #e8e9eb 60%, transparent 70%), url(../img/main/mainLink4.png);
    background-position: 100%, right 90%;
    background-repeat: no-repeat;
    background-size: 100%, 40%;
  }
}

@media (min-width: 960px) {
  .links .link {
    width: 100%;
    height: 580px;
  }
  .links .link ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100%;
  }
  .links .link h3 {
    font-size: 20px;
  }
  .links .link li {
    font-size: 18px;
    margin: 5px;
  }
  .links .link:nth-child(1) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #edeeeb), color-stop(70%, transparent)), url(../img/main/mainLink1.png);
    background: linear-gradient(180deg, #edeeeb 60%, transparent 70%), url(../img/main/mainLink1.png);
    background-position: 100%, bottom;
    background-repeat: no-repeat;
    background-size: 100%, 150%;
  }
  .links .link:nth-child(2) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #d6e0ea), color-stop(80%, transparent)), url(../img/main/mainLink2.png);
    background: linear-gradient(180deg, #d6e0ea 50%, transparent 80%), url(../img/main/mainLink2.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 300%;
  }
  .links .link:nth-child(3) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #f5f5f5), color-stop(70%, transparent)), url(../img/main/mainLink3.png);
    background: linear-gradient(180deg, #f5f5f5 55%, transparent 70%), url(../img/main/mainLink3.png);
    background-position: 70% 100%;
    background-repeat: no-repeat;
    background-size: 150%;
  }
  .links .link:nth-child(4) {
    background: url(../img/main/mainLink4.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1440px) {
  .links .link {
    height: 680px;
    color: #4f4f4f;
  }
  .links .link h3 {
    font-size: 34px;
  }
  .links .link li {
    font-size: 20px;
  }
  .links .link:nth-child(1) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, #edeeeb), color-stop(70%, transparent)), url(../img/main/mainLink1.png);
    background: linear-gradient(180deg, #edeeeb 65%, transparent 70%), url(../img/main/mainLink1.png);
    background-position: 100%, bottom;
    background-repeat: no-repeat;
    background-size: 100%, 120%;
  }
  .links .link:nth-child(2) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #d6e0ea), color-stop(50%, transparent)), url(../img/main/mainLink2.png);
    background: linear-gradient(180deg, #d6e0ea 40%, transparent 50%), url(../img/main/mainLink2.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100%, 280%;
  }
  .links .link:nth-child(3) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #f5f5f5), color-stop(70%, transparent)), url(../img/main/mainLink3.png);
    background: linear-gradient(180deg, #f5f5f5 55%, transparent 70%), url(../img/main/mainLink3.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 130%;
  }
  .links .link:nth-child(4) {
    background: url(../img/main/mainLink4.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1800px) {
  .links .link {
    height: 680px;
  }
  .links .link:nth-child(1) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #edeeeb), color-stop(60%, transparent)), url(../img/main/mainLink1.png);
    background: linear-gradient(180deg, #edeeeb 50%, transparent 60%), url(../img/main/mainLink1.png);
    background-position: 100%, bottom;
    background-repeat: no-repeat;
    background-size: 100%, 120%;
  }
  .links .link:nth-child(2) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #d6e0ea), color-stop(50%, transparent)), url(../img/main/mainLink2.png);
    background: linear-gradient(180deg, #d6e0ea 40%, transparent 50%), url(../img/main/mainLink2.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100%, 280%;
  }
  .links .link:nth-child(3) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #f5f5f5), color-stop(70%, transparent)), url(../img/main/mainLink3.png);
    background: linear-gradient(180deg, #f5f5f5 35%, transparent 70%), url(../img/main/mainLink3.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 130%;
  }
  .links .link:nth-child(4) {
    background: url(../img/main/mainLink4.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.section-galery > button {
  background: #e8c8a4;
  border-radius: 2px;
  width: 377px;
  width: 100%;
  height: 56px;
  font-weight: bold;
  font-size: 18px;
}

@media (min-width: 760px) {
  .section-galery > button {
    width: 247px;
  }
}

@media (min-width: 1200px) {
  .section-galery > button {
    width: 377px;
  }
}

.section-galery__wrapper .grid-sizer {
  width: 350px;
}

.section-galery__wrapper .grid-item {
  width: 410px;
  height: 320px;
  margin-bottom: 3%;
  overflow: hidden;
}

.section-galery__wrapper .grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-galery__wrapper .grid-sizer,
.section-galery__wrapper .grid-item {
  width: 31%;
}

.section-galery__wrapper .gutter-sizer {
  width: 3%;
}

.section-galery__wrapper .grid-item--width2 {
  width: 50%;
}

.section-galery__wrapper .grid-item--width2 {
  width: 840px;
}

.section-galery__wrapper .grid-item--height2 {
  height: 410px;
}

.section-galery__wrapper .grid-item--height3 {
  height: 500px;
}

@media (max-width: 1200px) {
  .section-galery__wrapper .grid-item,
  .section-galery__wrapper .grid-item--width2,
  .section-galery__wrapper .grid-item--height2,
  .section-galery__wrapper .grid-item--height3 {
    min-width: 47%;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 320px;
    margin: 10px;
  }
  .section-galery__wrapper .grid-item:last-child {
    display: none;
  }
}

@media (max-width: 760px) {
  .section-galery__wrapper .grid-item,
  .section-galery__wrapper .grid-item--width2,
  .section-galery__wrapper .grid-item--height2,
  .section-galery__wrapper .grid-item--height3 {
    min-width: 100%;
    margin: 0 0 10px 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 320px;
  }
  .section-galery__wrapper .grid-item:last-child {
    display: none;
  }
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.section_baner_form {
  background: url(../img/main/mainBaner2.jpg) no-repeat center;
}

@media (min-width: 300px) {
  .section_baner_form .title {
    width: 310px;
  }
}

@media (min-width: 427px) {
  .section_baner_form .title {
    width: 350px;
  }
}

@media (min-width: 770px) {
  .section_baner_form .title {
    width: 445px;
  }
}

@media (min-width: 300px) {
  .section_baner_form {
    min-height: 738px;
    background-size: contain;
    background-position: bottom;
  }
}

@media (min-width: 768px) {
  .section_baner_form {
    background-size: auto;
    background-position: bottom;
  }
}

@media (min-width: 300px) {
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 300px) {
  .preliminary_value {
    border-radius: 4px;
    max-width: 990px;
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 10px;
  }
}

@media (min-width: 430px) {
  .preliminary_value {
    -webkit-box-shadow: 0px 2px 50px rgba(145, 145, 145, 0.25);
            box-shadow: 0px 2px 50px rgba(145, 145, 145, 0.25);
    width: 350px;
    padding: 30px 25px;
  }
}

@media (min-width: 769px) {
  .preliminary_value {
    width: 450px;
    -webkit-box-shadow: 0px 2px 50px rgba(145, 145, 145, 0.25);
            box-shadow: 0px 2px 50px rgba(145, 145, 145, 0.25);
  }
}

@media (min-width: 1060px) {
  .preliminary_value {
    width: auto;
  }
}

.preliminary_value ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

@media (min-width: 300px) {
  .preliminary_value ul > li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
}

@media (min-width: 430px) {
  .preliminary_value ul > li {
    width: 100%;
  }
}

@media (min-width: 1030px) {
  .preliminary_value ul > li {
    width: 430px;
  }
}

.preliminary_value input,
.preliminary_value button,
.preliminary_value select,
.preliminary_value .meter {
  width: 100%;
  height: 56px;
  padding: 0 24px;
}

.preliminary_value input {
  background: none;
  border: 2px solid #dedede;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  color: #a5a5a5;
}

.preliminary_value button {
  color: #363636;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  background: #e8c8a4;
}

.preliminary_value button:hover {
  background: #f9dab8;
}

.preliminary_value label input {
  width: 24px;
  height: 24px;
}

.preliminary_value .meter {
  border: 2px solid #dedede;
}

.preliminary_value .meter input {
  height: 100%;
  width: 50%;
  border: none;
  border-left: 2px solid #dedede;
}

.preliminary_value select {
  font-weight: bold;
  border: 2px solid #dedede;
  color: #4f4f4f;
}

.section_benefits {
  margin: 120px auto;
  min-height: 600px;
}

@media (min-width: 300px) {
  .section_benefits {
    margin: 60px auto;
  }
}

.section_benefits ul li {
  margin-bottom: 54px;
}

@media (min-width: 300px) {
  .section_benefits ul li {
    width: 100%;
    margin-bottom: 16px;
  }
  .section_benefits ul li img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
}

@media (min-width: 425px) {
  .section_benefits ul li {
    max-width: 270px;
  }
  .section_benefits ul li img {
    width: 46px;
    height: 46px;
  }
}

@media (min-width: 770px) {
  .section_benefits ul li {
    max-width: 370px;
    margin: 0 auto;
  }
  .section_benefits ul li img {
    width: 60px;
    height: 60px;
    margin-right: 24px;
  }
}

.section_benefits .text_content {
  color: #808080;
}

@media (min-width: 300px) {
  .section_benefits .text_content img {
    width: 284px;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 426px) {
  .section_benefits .text_content img {
    width: 291px;
    margin-left: 49px;
  }
}

@media (min-width: 770px) {
  .section_benefits .text_content img {
    width: 380px;
    margin-left: 79px;
  }
}

@media (min-width: 1030px) {
  .section_benefits .text_content img {
    width: 480px;
    margin-left: 108px;
    margin-top: -80px;
  }
}

@media (min-width: 300px) {
  .download_file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .download_file h2 {
    margin-top: 50px;
  }
  .download_file .docs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .download_file .docs_link {
    -webkit-box-shadow: 4px 4px 40px rgba(99, 131, 153, 0.15);
            box-shadow: 4px 4px 40px rgba(99, 131, 153, 0.15);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 76px;
    background: #ffffff;
    border-radius: 2px;
    margin: 0 5px;
    width: 100%;
  }
  .download_file .docs_link img {
    width: 36px;
    height: 36px;
  }
  .download_file .docs_link span {
    font-weight: 450;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #4f4f4f;
  }
}

@media (min-width: 430px) {
  .download_file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 80px;
  }
  .download_file h2 {
    margin-top: 0px;
  }
  .download_file .docs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .download_file .docs_link {
    width: 350px;
    height: 70px;
  }
  .download_file .docs_link img {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 770px) {
  .download_file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 120px;
  }
  .download_file h2 {
    margin-top: 0px;
  }
  .download_file .docs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .download_file .docs_link {
    width: 370px;
    height: 130px;
  }
  .download_file .docs_link img {
    width: 32px;
    height: 32px;
  }
}

.section_reviews {
  background: #f6f7fa;
}

.section_reviews_header button {
  width: 240px;
  height: 56px;
}

.carousel__slide {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 20px;
}

@media (min-width: 300px) {
  .slide_bode {
    width: 280px;
  }
  .slide_bode .user_name {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #4f4f4f;
  }
  .slide_bode .stars {
    font-size: 13px;
  }
  .slide_bode .stars img {
    width: 19px;
  }
  .slide_bode .text {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #808080;
  }
  .slide_bode a {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #a5a5a5;
  }
  .slide_bode a::after {
    content: url(../img/main/svg/arrow.svg);
    margin-left: 10px;
  }
}

@media (min-width: 300px) {
  .slide_bode {
    width: 280px;
  }
}

.section_backcall {
  background: #f6f7fa;
  margin-bottom: 60px;
}

@media (min-width: 430px) {
  .call_form input,
  .call_form button {
    width: 350px !important;
  }
}

@media (min-width: 770px) {
  .call_form input {
    width: 300px !important;
  }
  .call_form button {
    width: 270px !important;
  }
}

@media (min-width: 1030px) {
  .call_form input {
    width: 400px !important;
  }
  .call_form button {
    width: 270px !important;
  }
}

.footer {
  height: 278px;
  background: url(../img/main/footer.png);
}

.modal-form input {
  background: none;
  border: 2px solid #dedede;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  color: #a5a5a5;
}

.modal-form button {
  color: #363636;
  font-size: 18px;
  font-weight: bold;
  background: #e8c8a4;
  border-radius: 4px;
}

.modal-form button:hover {
  background: #f9dab8;
}

.modal-form input,
.modal-form button,
.modal-form select,
.modal-form .meter {
  width: 100%;
  height: 56px;
  padding: 0 24px;
}

@media (min-width: 427px) {
  .modal-form input,
  .modal-form button,
  .modal-form select,
  .modal-form .meter {
    width: 426px;
  }
}

.modal-form label input {
  width: 24px;
  height: 24px;
}

.modal-form .meter {
  border: 2px solid #dedede;
}

.modal-form .meter input {
  height: 100%;
  width: 50%;
  border: none;
  border-left: 2px solid #dedede;
}

.modal-form select {
  font-weight: bold;
  border: 2px solid #dedede;
}

@media (min-width: 1024px) {
  #pricemodal .modal-dialog {
    max-width: 990px;
    margin-top: 15%;
  }
}

.gallerymodal {
  display: none;
  max-width: 1170px;
  width: 100%;
}

.gallerymodal > img {
  max-width: 100%;
  max-height: 700px;
  margin: 0 auto;
}

@media (min-width: 300px) {
  .gallerymodal .description {
    font-size: 14px;
  }
  .gallerymodal .description button {
    background: #e8c8a4;
    border-radius: 2px;
    font-weight: bold;
    width: 100%;
    height: 36px;
    font-size: 16px;
  }
}

@media (min-width: 770px) {
  .gallerymodal .description {
    font-size: 24px;
  }
  .gallerymodal .description button {
    width: 426px;
    height: 56px;
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */