.section_baner_form {
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: 300px) {
        min-height: 738px;
        background-size: contain;
        background-position: bottom;
    }
    @media (min-width: 768px) {
        background-size: auto;
        background-position: bottom;
        min-height: 600px;
    }

    @media (min-width: 1400px) {
        margin-bottom: 100px;
    }

    & form {
        border-radius: 4px;
        background: #ffffff;
        box-shadow: 0px 2px 50px rgba(145, 145, 145, 0.25);
        @media (min-width: 1400px) {
            transform: translate(0%, 10%);
        }
    }

}
