.section_benefits {
    .benefit {
        @media (min-width: 300px) {
            & img {
                width: 32px;
                height: 32px;
            }
            & p {
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: $benefit_text_color;
            }
        }
        @media (min-width: 425px) {
            & img {
                width: 46px;
                height: 46px;
            }
        }
        @media (min-width: 770px) {
            & img {
                width: 60px;
                height: 60px;
            }

            & p {
                font-size: 18px;
                line-height: 30px;
            }
        }
        @media (min-width: 990px) {
            & p {
                font-size: 24px;
            }
        }
    }

    & .text_content {
        color: $benefit_text_content_color;
        @media (min-width: 300px) {
            & img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
        @media (min-width: 426px) {
            & img {
                width: 45%;
            }
        }
        @media (min-width: 1030px) {
            & img {
                margin-top: -80px;
            }
        }
    }
}

.download_file {
    @media (min-width: 300px) {
        & .docs_link {
            box-shadow: 4px 4px 40px rgba(99, 131, 153, 0.15);
            height: 76px;
            background: #ffffff;
            border-radius: 2px;
            margin: 0 5px;
            width: 100%;

            &:hover {
                box-shadow: 4px 4px 40px rgba($color: $gold_color, $alpha: 1);
            }

            & img {
                width: 36px;
                height: 36px;
            }

            & span {
                font-weight: 450;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -0.03em;
                color: $header_link_color;
            }
        }
    }
    @media (min-width: 430px) {
        & .docs_link {
            & img {
                width: 32px;
                height: 32px;
            }
        }
    }
}
