.design_list {
    & span {
        @media (min-width: 300px) {
            font-size: 18px;
            line-height: 32px;
            letter-spacing: -0.03em;
            color: #838383;
        }
        @media (min-width: 300px) {
            font-size: 24px;
        }
    }
}
