.section_design_baner {
    background-size: cover;
    background-position: center bottom;

    .col_text {
        & h2 {
            max-width: 500px;
        }
        .free {
            width: 248px;
            height: 60px;
            background: #e7b073;
            border-radius: 4px;
            font-weight: 600;
            font-size: 50px;
            line-height: 60px;
            color: #ffffff;
        }

        .subtitle {
            @media (min-width: 300px) {
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.03em;
                color: #4f4f4f;
            }
            @media (min-width: 990px) {
                font-size: 30px;
            }
        }
    }

    .form_block {
        @media (min-width: 768px) {
            background: #ffffff;
        }
    }
}
