.footer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    &_link {
        font-weight: 450;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: -0.03em;
    }

    &_acardion {
        &::after {
            content: url("../img/header/arrowmenuWite.png");
            margin-left: 8px;
            transform: scale(2);
        }
    }

    .email_address {
        & .email {
            font-size: 18px;
        }
        & .address {
            font-size: 16px;
        }
    }

    & .copyright {
        border-top: 1px solid #fff;
    }
}
