// Header

.header {
    background: none;
    height: 80px;

    // Menu Button
    &__button {
        background: $gold_color;
        margin-left: -15px;

        @media (min-width: 300px) {
            width: 64px;
            height: 64px;
        }
        @media (min-width: 1200px) {
            width: 80px;
            height: 80px;
        }

        &:hover {
            background: $gold_color_hover;
        }
    }

    .offcanvas {
        color: $header_link_color;

        &-start {
            @media (min-width: 300px) {
                width: 280px;
            }
        }

        &-header {
            overflow-y: scroll;
            height: 100%;
        }

        .btn-close-menu {
            background: none;
            width: fit-content;
            position: absolute;
            top: 30px;

            @media (min-width: 300px) {
                right: -45px;
            }
            @media (min-width: 321px) {
                right: -50px;
            }

            &:hover {
                background: none;
                border-radius: 2px;
                path {
                    stroke: #111;
                }
            }
        }

        .link {
            width: 100%;
            padding: 10px;
            font-weight: bold;
            &:hover {
                color: $button_color;
                background: $gold_color;
            }
        }

        &_phone {
            color: $header_text_color;
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
            padding: 10px;
        }

        .accordion {
            min-width: 100%;
            &-button {
                padding: 10px;
                color: inherit;

                &::after {
                    background: url(../img/header/arrowmenu.png) no-repeat center;
                }

                &:not(.collapsed) {
                    background: none;
                    color: $gold_color;
                    &::after {
                        background: url(../img/header/arrowmenu.png) no-repeat center;
                    }
                }
                &:focus {
                    box-shadow: none;
                }
            }

            &-item {
                border: none;
            }

            &_body_list {
                & li {
                    padding: 5px;
                }
            }
        }
    }

    // Navigation
    &-nav {
        width: 1170px;
        margin: 0 auto;
        height: inherit;
        color: $header_text_color;
        @media (min-width: 300px) {
            height: 64px;
        }
        @media (min-width: 1200px) {
            height: 80px;
        }

        &__logo {
            @media (min-width: 300px) {
                & img {
                    height: 44px;
                }
            }
            @media (min-width: 1200px) {
                & img {
                    height: 52px;
                }
            }
        }

        &__address {
            & > span {
                &:first-child {
                    font-size: 18px;
                    font-weight: bold;
                }
                &:last-child {
                    font-size: 16px;
                }
            }
        }

        &__phone {
            color: inherit;
            font-size: 20px;
            font-weight: bold;
        }

        &__backcall {
            border-radius: 2px;
            font-weight: bold;
            width: 220px;
            height: 48px;
            background: $gold_color;
            &:hover {
                background: $gold_color_hover;
            }
        }
    }

    &_page {
        background: linear-gradient(to bottom, rgba($color: #fff, $alpha: 0.6));
        & .header__button {
            margin-left: -15px;
        }
    }
}
