.section_links {
    & .link {
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: border-box;
        @media (min-width: 550px) {
            background-position: right bottom;
            background-size: 50%;
        }
        @media (min-width: 990px) {
            background-size: cover;
        }
    }
    & .links_container {
        color: $header_link_color;

        @media (min-width: 300px) {
            min-height: 470px;
        }
        @media (min-width: 550px) {
            background: linear-gradient(to right, rgba($color: #edeeeb, $alpha: 1) 50%, transparent 60%);
            min-height: 200px;
            & a {
                display: block;
                width: 235px;
            }
        }
        @media (min-width: 990px) {
            min-height: 380px;
            background: none;
        }
        @media (min-width: 990px) {
            min-height: 580px;
        }

        & a {
            font-size: 20px;
            line-height: 1;
            letter-spacing: -0.03em;
            color: $header_link_color;
        }
    }
}
