$gold_color: #e8c8a4;
$input_color: #a5a5a5;
$gold_color_hover: #f9dab8;
$header_text_color: #464646;
$header_link_color: #4f4f4f;
$button_color: #363636;
$block_fone: #f6f7fa;
$benefit_text_color: #3b3b38;
$benefit_text_content_color: #808080;
$footer_bg_color: #5c5a56;
$page_portfolio_resalt_color: #2e2e2e;
$price_color: #d19c61;
$span_label_contacts: #c7c7c7;
$footer_bg_color: #5c5a56;
$FFF7EF: #fff7ef;

.color_gray {
    color: $benefit_text_content_color;
}

.spacer {
    height: 150px;
    @media (min-width: 300px) {
        height: 90px;
    }
    @media (min-width: 500px) {
        height: 120px;
    }
}

form {
    & input,
    & textarea,
    & .nice-select,
    & .meter {
        width: 100%;
        height: 56px;
        padding: 0 24px;
        border: 2px solid #dedede !important;
        border-radius: 4px;
        outline: none !important;
        color: inherit !important;
        &:focus {
            box-shadow: none !important;
            border-color: $gold_color !important;
        }
    }

    & label,
    & select {
        &:hover {
            cursor: pointer;
        }
    }

    & input {
        font-size: 18px;
        line-height: 23px;
        color: $input_color;
    }

    & button {
        color: $button_color;
        width: 100%;
        height: 56px;
        background: $gold_color;
        border-radius: 4px;

        &:hover {
            background: $gold_color_hover;
        }
    }

    & .checkbox {
        width: 24px;
        height: 24px;
    }

    & .meter {
        border: 2px solid #dedede;
        & > span {
            width: 49%;
            display: block;
        }
        & > input {
            height: 100%;
            width: 49%;
            border: none;
        }
    }

    & .nice-select {
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 18px;
        padding-left: 16px;
    }
}

button {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: $button_color;
    background: $gold_color;
    border: none;
    &:hover {
        background: $gold_color_hover;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    & > img {
        transition: all 0.3s;
    }
    &:hover {
        color: $price_color !important;
        text-decoration: none !important;
        & > img {
            transform: scale(1.1) !important;
        }
    }
}

h4 {
    color: $header_link_color;
    @media (min-width: 300px) {
        font-weight: bold;
        font-size: 18px;
        line-height: 34px;
        letter-spacing: -0.03em;
        color: $header_link_color;
    }
    @media (min-width: 560px) {
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
    }
}
h3 {
    color: $header_link_color;
    @media (min-width: 300px) {
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.03em;
        color: $header_link_color;
    }
    @media (min-width: 560px) {
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
    }
    @media (min-width: 1070px) {
        font-size: 34px;
    }
}
h2 {
    color: $header_link_color;
    @media (min-width: 300px) {
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -0.03em;
    }
    @media (min-width: 560px) {
        font-weight: 450;
        font-size: 40px;
        line-height: 50px;
    }
    @media (min-width: 1020px) {
        font-size: 50px;
        line-height: 60px;
    }
}

p {
    color: $header_link_color;
    @media (min-width: 300px) {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
    }
    @media (min-width: 425px) {
        font-size: 18px;
        letter-spacing: -0.03em;
    }
    @media (min-width: 770px) {
        line-height: 36px;
        font-size: 24px;
    }
}

// *****************

.wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    font-family: "Futura PT";
    position: relative;
}

/* Scroll */
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: $gold_color;
    width: 10px;
    border-radius: 2px;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* Scroll */

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 10px;
    padding-top: 0px;
    cursor: pointer;
    font-size: 18px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 3px;
    height: 25px;
    width: 25px;
    background: #fefeff;
    border: 2px solid $gold_color;
    border-radius: 2px;

    @media (min-width: 300px) {
        right: 0px;
    }
    @media (min-width: 430px) {
        right: 30px;
    }
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #edf7fa;
}

.control input:checked ~ .control_indicator {
    background: #fcfcfc;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #ffffff;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: "";
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 7px;
    top: 0px;
    width: 5px;
    height: 11px;
    border: solid $gold_color;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: $gold_color;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-checkbox input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}
