$colorGold: #e8c8a4;
$colorGoldLite: #f9dab8;
$white: #fff;
$whiteBorder: rgba(255, 255, 255, 0.3);
$transition: all 0.3s ease;
$maskSlider: #2e2e2e;
$color1: #4f4f4f;
$color2: #464646;
$color3: #363636;
$color4: #a5a5a5;
