.section_baner_slider {
    & .slider {
        margin-bottom: 0 !important;

        // Slide params
        .slide {
            position: relative;

            .img_wrapper {
                width: 100vw;
                height: 100vh;
                .img {
                    object-fit: cover;
                }
            }

            &-info {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;

                .logo {
                    @media (min-width: 300px) {
                        width: 131px;
                        max-height: 40px;
                    }
                    @media (min-width: 768px) {
                        width: 147px;
                        max-height: 46px;
                    }
                    @media (min-width: 960px) {
                        width: 197px;
                        max-height: 61px;
                    }
                }

                .title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    white-space: nowrap;
                    font-family: "Source Serif Pro";
                    line-height: 76px;
                    font-size: 2rem;
                    font-weight: 500;

                    & span {
                        margin: 5px 0;
                    }

                    @media (min-width: 592px) {
                        font-size: 40px;
                        font-weight: 500;
                        line-height: 40px;
                        margin-top: 30px;
                    }
                    @media (min-width: 960px) {
                        font-size: 70px;
                        line-height: 70px;
                    }
                }

                & .subtitle {
                    color: inherit;
                    white-space: nowrap;
                    @media (min-width: 300px) {
                        margin: 10px 0 30px 0;
                        font-size: 18px;
                        font-weight: 300;
                    }
                    @media (min-width: 960px) {
                        font-size: 28px;
                        margin: 20px 0 40px 0;
                    }
                }

                & .btn_gold {
                    font-weight: bold;
                    font-size: 18px;
                    color: $button_color;

                    @media (min-width: 300px) {
                        width: 315px;
                        height: 56px;
                    }
                    @media (min-width: 960px) {
                        width: 285px;
                        height: 50px;
                    }
                }
            }
        }
        // Dots params (pagination)
        .slick-dots {
            bottom: 30px !important;

            & li {
                & button {
                    &::before {
                        color: $gold_color !important;
                        @media (min-width: 300px) {
                            font-size: 10px !important;
                        }
                        @media (min-width: 1020px) {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
    }
}
