.footer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    @media (max-width: 570px) {
        background-image: none !important;
        background: $footer_bg_color !important;
    }

    &_link {
        font-weight: 450;
        font-size: 24px;
        /* line-height: 40px; */
       /*  letter-spacing: -0.03em; */

        @media (min-width: 427px) {
            font-size: 18px;
        }
        @media (min-width: 1190px) {
            font-size: 24px;
        }
    }

    &_acardion {
        &::after {
            content: url("../img/header/arrowmenuWite.png");
            margin-left: 8px;
            transform: scale(2);
        }
    }

    .email_address {
        & .email {
            font-size: 18px;
        }
        & .address {
            font-size: 16px;
        }
    }

    & .copyright {
        border-top: 1px solid #fff;
    }
}
