.includs_list {
    @media (min-width: 990px) {
        height: 500px;
    }
    @media (min-width: 1100px) {
        max-width: 1072px;
        box-shadow: 4px 4px 40px rgba(99, 131, 153, 0.15);
        border-radius: 2px;
    }

    & li {
        max-width: 460px;
        margin: 10px;
        display: flex;
        align-items: start;

        & span {
            margin-bottom: auto;
            font-weight: bold;
            font-size: 32px;
            letter-spacing: -0.03em;
            color: $gold_color;
            opacity: 0.8;
        }
        & p {
            margin: 0;
            padding-right: 10px;
            color: $header_link_color;
        }

        @media (min-width: 300px) {
            width: 100%;
            flex-direction: column;
        }
        @media (min-width: 410px) {
            flex-direction: row;
        }
    }
}

#similarProjects {
    .item {
        margin: 15px;
    }
}

.regular {
    .slick-track {
        margin-left: inherit;
        margin-right: inherit;
        padding: 15px 0;
    }
}
