.section_reviews {
    background: $block_fone;
}

.section_reviews_header {
    button {
        width: 240px;
        height: 56px;
    }
}

.carousel__slide {
    margin: 10px;
}

.slide_bode {
    @media (min-width: 300px) {
        .user_name {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.03em;
            color: $header_link_color;
        }

        .stars {
            img {
                width: 19px;
            }
        }

        .text {
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.03em;
            color: #808080;
        }

        a {
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.03em;
            color: #a5a5a5;

            &::after {
                content: url(../img/main/svg/arrow.svg);
                margin-left: 10px;
            }
        }
    }
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}
