$gold_color: #e8c8a4;
$input_color: #a5a5a5;
$gold_color_hover: #f9dab8;
$header_text_color: #464646;
$header_link_color: #4f4f4f;
$button_color: #363636;
$block_fone: #f6f7fa;
$benefit_text_color: #3b3b38;
$benefit_text_content_color: #808080;
$footer_bg_color: #5c5a56;
$page_portfolio_resalt_color: #2e2e2e;
$price_color: #d19c61;
$span_label_contacts: #c7c7c7;
$footer_bg_color: #5c5a56;
$FFF7EF: #fff7ef;
$h1_color: #313131;
$h2_color: #4f4f4f;

$color1: #2e2e2e;
$color2: #ffffff;
$color3: #d19c61;
$color4: #999999;
$color5: #f6f7fa;
